body
{
	background-color: blue;
	font-family: 'Montserrat',sans-serif;

}
h1{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 26px;
	font-family: 'Anton',sans-serif;
}
form
{
	width: 
	300px;
	margin: auto;
}
.well
{
	margin: auto;
	width: 450px;
	height: 420px;
	margin-top: 40px;
}
@media only screen and (max-width: 480px)
{
	.well{
		width: 300px;
	}
	.form-control{
		width: 80%;
	}
	
}